---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Simultaneous Device Testing",
    description:
      "Simulate your site on multiple devices side-by-side in real-time, all in a single browser tab.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Real-Time Code Updates",
    description:
      "Experience instantaneous code updates across all simulated devices when using hot-reloading.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Device Skins and Rotation",
    description:
      "Device skins for immersive testing and marketing screenshots, and landscape and portrait modes.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Scroll and Navigation Sync",
    description:
      "Achieve synchronized actions like scrolling and navigation across all the devices, all the time.",
    icon: "gg:sync",
  },
  {
    title: "Capture and Record",
    description:
      "Capture premium-quality screenshots and recordings for marketing and testing across all devices.",
    icon: "bx:bxs-camera",
  },
  {
    title: "Universal Compatibility",
    description:
      "Universally compatible on the web, navigate freely between any website or page, without limitations.",
    icon: "bx:bxs-plug",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything You Need for Multi-Device Testing
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Mobile View isn't just another responsive testing tool. It's your all-in-one solution for real-time, cross-device website simulation.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
